@import 'settings';

.header {
    &_container {
        width: 100%;
        height: 60px;
        background-color: $white;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: fixed;
        top: 0;
        z-index: 2;
        @include mobile {
            height: 120px;
            width: 100vw;
            justify-content: center;
        }
    }

    &__logo {
        margin-left: $header-sides-margin;
        margin-right: auto;

        @include mobile {
            margin: 0 $header-sides-margin/2;
        }
    }

    &__search_bar {
        width: 600px;
        max-width: 30vw;
        height: 40px;
        border: 1px solid $main-border-color;
        background-color: $light-grey;
        padding-left: 20px;
        font-size: 16px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        @include mobile {
            width: auto;
            max-width: 90vw;
        }

        &_wrapper {
            position: relative;

            &:before {
                display: block;
                position: absolute;
                content: "";
                width: 3px;
                height: 10px;
                background-color: $blue;
                top: 20px;
                right: 24px;
                @include rotate(45);
            }

            &:after {
                display: block;
                position: absolute;
                content: "";
                @include border-radius(50%);
                border: 2px solid $blue;
                width: 10px;
                height: 10px;
                top: 10px;
                right: 10px;
            }
        }
    }
}
