@import 'normalize';
@import 'settings';
@import 'header';
@import 'footer';
@import 'stock';


.templates_container {
    display: none;
}

.body {
    background: url('../images/background.png');
    font-family: 'Didact Gothic', sans-serif;
    font-size: $font-size;
    color: $dark-grey;
    @include mobile {
        font-size: $mobile-font-size;
    };
}

.main_container {
    width: 100%;
}
