@import 'settings';

.stock__table {
    margin: 0 auto;
    max-width: $max-width;
    position: relative;

    &__header {
        top: 60px;
        color: $white;
        line-height: 2.5em;
        position: fixed;
        width: 100%;
        max-width: $max-width;
        display: flex;
        background-color: $blue;
        vertical-align: middle;
        @include mobile {
            top: 120px;
            max-height: 30px;
        }

        &:before {
            content: "";
            background-color: $blue;
            display: block;
            top: 60px;
            color: $white;
            height: 2.5em;
            position: fixed;
            left: 0;
            width: 100%;
            z-index: 0;
            @include mobile {
                max-width: 100vw;
            }
        }

        &_id,
        &_acronym,
        &_name {
            width: $table-unit-width;
            text-align: center;
            flex-grow: 2;
            position: relative;
            cursor: pointer;
            @include table-border();
        }

        &_name {
            flex-grow: 20;
        }

        &__sort_indicator {
            &.ascent,
            &.descent {
                display: inline-block;
                position: relative;
                width: 0;
                height: 0;
                top: 5px;
                margin-left: 10px;
                border: 8px solid transparent;
                border-top: 8px solid $white;

                @include mobile {
                    top: 8px;
                }
            }

            &.descent {
                top: -3px;
                border-top: 0;
                border-bottom: 8px solid $white;
                @include mobile {
                    top: 0;
                };
            }
        }

        &_acronym.mobile{
            @include mobile {
                top: -8px;

                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: -10px;
                    width: 100%;
                    height: 20px;
                    border-right: 2px solid $white;
                }
            }
        }

        &_acronym.mobile &__sort_indicator:first-child {
            &.ascent,
            &.descent {
                @include mobile {
                    top: -7px;
                    margin-left: 0px;
                }
            }

            &.descent {
                @include mobile {
                    top: -15px;
                }
            }
        }
    }

    &__body {
        margin-top: 112px;
        padding: 0;
        line-height: 1.8em;
        width: 100%;
        max-width: $max-width;
        @include mobile {
            margin-top: 152px;
        }

        &_supply {
            display: flex;
            background-color: $white;

            &:nth-child(even) {
                background-color: $light-blue;
            }
        }

        &_id,
        &_acronym,
        &_name {
            width: $table-unit-width;
            text-align: center;
            flex-grow: 1;
            padding: 10px 0;
            @include table-border();

            li:nth-child(odd) & {
                border-color: $light-grey;
            }
        }

        &_name {
            flex-grow: 10;
            text-align: left;
            box-sizing: border-box;
            padding-left: $header-sides-margin;
        }
    }
}
