@import 'settings';

.stock__table {
    margin: 0 auto 30px;
    width: 98%;
    max-width: $max-width;

    &__header {
        top: 60px;
        color: $white;
        line-height: 2.2em;
        position: fixed;
        width: 100%;
        max-width: $max-width;
        display: flex;

        &_id,
        &_acronym,
        &_name {
            width: $table-unit-width;
            background-color: $blue;
            text-align: center;
            flex-grow: 1;
            position: relative;
            cursor: pointer;
            @include table-border();
        }

        &_name {
            flex-grow: 10;
        }

        &__sort_indicator {

            &.ascent {
                display: block;
                position: absolute;
                width: 0;
                height: 0;
                top: calc(1.1em - 4px);
                right: 5px;
                border: 8px solid transparent;
                border-top: 8px solid $white;
            }

            &.descent {
                display: block;
                position: absolute;
                width: 0;
                height: 0;
                top: calc(1.1em - 12px);
                right: 5px;
                border: 8px solid transparent;
                border-bottom: 8px solid $white;
            }
        }
    }

    &__body {
        margin-top: 102px;
        padding: 0;
        line-height: 1.8em;
        width: 100%;;
        max-width: $max-width;


        &_supply {
            display: flex;
        }

        &_supply:nth-child(even) &_id,
        &_supply:nth-child(even) &_acronym,
        &_supply:nth-child(even) &_name {
            background-color: $light-blue;
        }

        &_id,
        &_acronym,
        &_name {
            width: $table-unit-width;
            background-color: $white;
            text-align: center;
            flex-grow: 1;
            @include table-border();
        }

        &_name {
            flex-grow: 10;
            text-align: left;
            box-sizing: border-box;
            padding-left: $header-sides-margin;
        }
    }

    &__footer {
        background-color: $blue;
        color: $white;
        line-height: 2.2em;
        display: flex;
        justify-content: space-between;
        width: 100%;

        &_text {
            padding-left: $header-sides-margin;
        }

        &_indicator {
            cursor: pointer;
            padding: 0 5px;

            &.active {
                font-size: bold;
                border: 2px solid $white;
            }
        }

        &_next_page {
            padding-right: $header-sides-margin;
            cursor: pointer;
        }

        &_previous_page {
            cursor: pointer;
            visibility: hidden;

            &.active {
                visibility: visible;
            }
        }


    }
}
