@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

.header_container {
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 2; }
  @media screen and (max-width: 767px) {
    .header_container {
      height: 120px;
      width: 100vw;
      justify-content: center; } }

.header__logo {
  margin-left: 20px;
  margin-right: auto; }
  @media screen and (max-width: 767px) {
    .header__logo {
      margin: 0 10px; } }

.header__search_bar {
  width: 600px;
  max-width: 30vw;
  height: 40px;
  border: 1px solid #aaaaaa;
  background-color: #fafafa;
  padding-left: 20px;
  font-size: 16px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }
  @media screen and (max-width: 767px) {
    .header__search_bar {
      width: auto;
      max-width: 90vw; } }
  .header__search_bar_wrapper {
    position: relative; }
    .header__search_bar_wrapper:before {
      display: block;
      position: absolute;
      content: "";
      width: 3px;
      height: 10px;
      background-color: #3899d1;
      top: 20px;
      right: 24px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    .header__search_bar_wrapper:after {
      display: block;
      position: absolute;
      content: "";
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      border: 2px solid #3899d1;
      width: 10px;
      height: 10px;
      top: 10px;
      right: 10px; }
