@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

.stock__table {
  margin: 0 auto;
  max-width: 1600px;
  position: relative; }
  .stock__table__header {
    top: 60px;
    color: #ffffff;
    line-height: 2.5em;
    position: fixed;
    width: 100%;
    max-width: 1600px;
    display: flex;
    background-color: #3899d1;
    vertical-align: middle; }
    @media screen and (max-width: 767px) {
      .stock__table__header {
        top: 120px;
        max-height: 30px; } }
    .stock__table__header:before {
      content: "";
      background-color: #3899d1;
      display: block;
      top: 60px;
      color: #ffffff;
      height: 2.5em;
      position: fixed;
      left: 0;
      width: 100%;
      z-index: 0; }
      @media screen and (max-width: 767px) {
        .stock__table__header:before {
          max-width: 100vw; } }
    .stock__table__header_id, .stock__table__header_acronym, .stock__table__header_name {
      width: 3em;
      text-align: center;
      flex-grow: 2;
      position: relative;
      cursor: pointer;
      border-left: 1px solid #ffffff;
      border-right: 1px solid #ffffff; }
      .stock__table__header_id:first-child, .stock__table__header_acronym:first-child, .stock__table__header_name:first-child {
        border-left: none; }
      .stock__table__header_id:last-child, .stock__table__header_acronym:last-child, .stock__table__header_name:last-child {
        border-right: none; }
    .stock__table__header_name {
      flex-grow: 20; }
    .stock__table__header__sort_indicator.ascent, .stock__table__header__sort_indicator.descent {
      display: inline-block;
      position: relative;
      width: 0;
      height: 0;
      top: 5px;
      margin-left: 10px;
      border: 8px solid transparent;
      border-top: 8px solid #ffffff; }
      @media screen and (max-width: 767px) {
        .stock__table__header__sort_indicator.ascent, .stock__table__header__sort_indicator.descent {
          top: 8px; } }
    .stock__table__header__sort_indicator.descent {
      top: -3px;
      border-top: 0;
      border-bottom: 8px solid #ffffff; }
      @media screen and (max-width: 767px) {
        .stock__table__header__sort_indicator.descent {
          top: 0; } }
    @media screen and (max-width: 767px) {
      .stock__table__header_acronym.mobile {
        top: -8px; }
        .stock__table__header_acronym.mobile:after {
          content: '';
          display: block;
          position: absolute;
          bottom: -10px;
          width: 100%;
          height: 20px;
          border-right: 2px solid #ffffff; } }
    @media screen and (max-width: 767px) {
      .stock__table__header_acronym.mobile .stock__table__header__sort_indicator:first-child.ascent, .stock__table__header_acronym.mobile .stock__table__header__sort_indicator:first-child.descent {
        top: -7px;
        margin-left: 0px; } }
    @media screen and (max-width: 767px) {
      .stock__table__header_acronym.mobile .stock__table__header__sort_indicator:first-child.descent {
        top: -15px; } }
  .stock__table__body {
    margin-top: 112px;
    padding: 0;
    line-height: 1.8em;
    width: 100%;
    max-width: 1600px; }
    @media screen and (max-width: 767px) {
      .stock__table__body {
        margin-top: 152px; } }
    .stock__table__body_supply {
      display: flex;
      background-color: #ffffff; }
      .stock__table__body_supply:nth-child(even) {
        background-color: #dff1f8; }
    .stock__table__body_id, .stock__table__body_acronym, .stock__table__body_name {
      width: 3em;
      text-align: center;
      flex-grow: 1;
      padding: 10px 0;
      border-left: 1px solid #ffffff;
      border-right: 1px solid #ffffff; }
      .stock__table__body_id:first-child, .stock__table__body_acronym:first-child, .stock__table__body_name:first-child {
        border-left: none; }
      .stock__table__body_id:last-child, .stock__table__body_acronym:last-child, .stock__table__body_name:last-child {
        border-right: none; }
      li:nth-child(odd) .stock__table__body_id, li:nth-child(odd) .stock__table__body_acronym, li:nth-child(odd) .stock__table__body_name {
        border-color: #fafafa; }
    .stock__table__body_name {
      flex-grow: 10;
      text-align: left;
      box-sizing: border-box;
      padding-left: 20px; }
