.stock__table {
  margin: 0 auto 30px;
  width: 98%;
  max-width: 1000px; }
  .stock__table__header {
    top: 60px;
    color: #ffffff;
    line-height: 2em;
    position: fixed;
    width: 100%;
    max-width: 1000px;
    display: flex; }
    .stock__table__header_id, .stock__table__header_acronym, .stock__table__header_name {
      width: 3em;
      background-color: #3899d1;
      text-align: center;
      flex-grow: 1;
      border-left: 1px solid #ffffff;
      border-right: 1px solid #ffffff; }
    .stock__table__header_name {
      flex-grow: 10; }
  .stock__table__body {
    margin-top: 102px;
    padding: 0;
    line-height: 1.5em;
    width: 100%;
    max-width: 1000px; }
    .stock__table__body_supply {
      display: flex; }
    .stock__table__body_supply:nth-child(even) .stock__table__body_id,
    .stock__table__body_supply:nth-child(even) .stock__table__body_acronym,
    .stock__table__body_supply:nth-child(even) .stock__table__body_name {
      background-color: #dff1f8; }
    .stock__table__body_id, .stock__table__body_acronym, .stock__table__body_name {
      width: 3em;
      background-color: #ffffff;
      text-align: center;
      flex-grow: 1;
      border-left: 1px solid #ffffff;
      border-right: 1px solid #ffffff; }
    .stock__table__body_name {
      flex-grow: 10;
      text-align: left;
      text-indent: 20px; }
  .stock__table__footer {
    background-color: #3899d1;
    color: #ffffff;
    line-height: 2em;
    display: flex;
    width: 100%; }
